.exercise__component {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 80vh;

  .cards__title {
    width: 50%;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;

    .cards__container {
      height: 500px;
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .exercise-image {
        clip-path: polygon(
          0 0,
          0% 80%,
          20% 100%,
          50% 70%,
          80% 100%,
          100% 80%,
          100% 0
        );
      }
    }

    .content {
      border-radius: 10px;
    }
    .cards__premium {
      background: rgb(241, 247, 0);
      background: linear-gradient(
        215deg,
        #f1f700 33%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    .cards__standard {
      background: rgb(230, 230, 230);
      background: linear-gradient(
        215deg,
        rgba(230, 230, 230, 1) 33%,
        rgba(255, 255, 255, 1) 100%
      );
    }
    .cards__item {
      display: flex;
      flex: 1;
      margin: 0 1rem;
      border-radius: 10px;
      align-items: center;
      flex-direction: column;
      padding: 10px;

      .cards__item__pic-wrap {
        overflow: hidden;

        .cards__item__img {
          border-top-left-radius: 9px;
          border-top-right-radius: 9px;
          height: 300px;
          width: 101%;
          object-fit: cover;
          clip-path: polygon(
            0 0,
            0% 80%,
            20% 100%,
            50% 70%,
            80% 100%,
            100% 80%,
            100% 0
          );
        }
      }
      .cards__item__info {
        margin: 0 10px;
        text-align: left;

        .cards__rating {
          margin: 10px 0;
        }
      }
      .button__container {
        margin: 20px 0 10px;
      }
    }
  }
}
