@import '../../../../Styles.Utilities/utilities';

.exercise__component {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  .cards__title {
    width: 50%;
    margin: 25px 0 150px;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10vh;

    .cards__container {
      cursor: pointer;
      height: $card-height;
      width: $card-width;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      margin: 0 1rem;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;

      &.cards__container:hover {
        transform: scale(1.05);
      }
    }

    .content {
      border-radius: 10px;
    }
    .cards__premium {
      background: $card-primary;
      background: $card-primary-gradient;
    }
    .cards__standard {
      background: $card-secondary;
      background: $card-secondary-gradient;
    }

    .card {
      position: relative;

      &.card.Premium::after,
      &.card.Standard::after {
        content: attr(data-type);
        position: absolute;
        top: -7%;
        left: calc((300px - 150px) / 2);
        height: 30px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        width: 50%;
        font-size: 1.15rem;
        padding: 5px 0;
      }
      &.card.Premium::after {
        background-color: $card-primary;
      }
      &.card.Standard::after {
        background-color: $card-secondary;
      }
    }

    .cards__item {
      display: flex;
      flex: 1;
      border-radius: 10px;
      align-items: center;
      flex-direction: column;
      padding: 10px;

      .cards__item__pic-wrap {
        position: relative;
        overflow: hidden;

        &.cards__item__pic-wrap::after {
          content: attr(data-category);
          position: absolute;
          top: 0;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 6px 8px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          font-weight: 700;
          color: rgb(66, 66, 66);
          background-color: #ffffffab;
          box-sizing: border-box;
        }

        .cards__item__img {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          height: 300px;
          width: 100%;
          object-fit: cover;
        }
      }
      .cards__item__info {
        margin: 0 10px;
        text-align: left;

        .cards__rating {
          margin: 10px 0;
        }
      }
      .button__container {
        margin: 20px 0 10px;
      }
    }
  }
}
