.nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 100%;
  background-color: transparent;
  color: white;
  z-index: 5;

  .links {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style: none;
    color: white;
    transition: color 0.3s ease-out;

    &:hover {
      color: #b3b3b3;
    }
  }

  a {
    text-decoration: none;
    color: white;
  }
}
