@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Redressed', cursive; */
  font-family: 'Roboto', sans-serif;
}

*::selection {
  color: none;
  background: none;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}
