* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  background: url('./images/Home.jpg');
  min-height: 85vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
